body {

}
/*Site.Master*/
#wrapper
{
    width: 1080px;
    margin:0 auto;
    padding: 10px;
    border: 5px solid #808080;
    background-color: #00ffff;
}

#banner
{
    height: 150px;
    border: 3px solid #000000;
    width: 1080px;
}

#banner p{
    font-family:'Hemi Head';
    font-size: 85px;
    text-align: center;
    margin-top: 25px;
}
/*nav bar*/
#navigation {
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    background-image: url('../Image/img1.jpg');
}

#nav
{
    list-style:none;
}

#nav ul
{
    list-style: none;
    margin:0;
    padding:0;
    width:auto;
    display: none;
}

#nav li
{
    font-family:Impact;
    font-size:30px;
    float:left;
    position:relative;
    border: 3px hidden #E3E3E3;
    width: 240px;
    margin-bottom: 3px;
    text-align:center;
}

#nav a:link, #nav a:active, #nav a:visited{
    display:block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover {
    color: lightblue;
}

#collection {
    float: left;
    width: 1060px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 3px solid #000000;
}
/* hyperlink emailing*/
#hLink1 {
    float: right;
    font-size: 18px;
}

#hLink2 {
    float:right;
    margin: 0 12px 0 0;
    font-size: 18px;
}

/*Default.aspx*/
.img01 {
    height: 195px;
    width: 175px;
    border: 1px solid #000000;
}


.img02 {
    height: 195px;
    width: 175px;
    border: 1px solid #000000;
    margin-left: 42px;
}



.img03 {
    height: 195px;
    width: 175px;
    border: 1px solid #000000;
    margin-left: 42px;
}

.img04 {
    height: 195px;
    width: 175px;
    border: 1px solid #000000;
    margin-left: 42px;
}

.img05 {
    height: 195px;
    width: 175px;
    border: 1px solid #000000;
    margin-left: 42px;
}

#p1 {
    width: 150px;
    text-align: center;
    margin-left: 18px;
}

#p2 {
    width: 130px;
    text-align: center;
    margin: -70px 35px 0 250px;
}

#p3 {
    width: 130px;
    text-align: center;
    margin: -75px 35px 0 470px;
}

#p4 {
    width: 145px;
    text-align: center;
    margin: -85px 35px 0 690px;
}

#p5 {
    width: 145px;
    text-align: center;
    margin: -75px 35px 0 910px;
}

/*Product1.aspx*/

#pro1 img{
    height: 400px;
    width: 280px;
    margin: 30px 0 0 30px;
}

#pro1 h1 {
    text-align: center;
}

#pro1 h2 {
    width: 460px;
}

#pro1 p {
    width: 460px;
    font-size: 18px;
}

#proinfo1 p {
    width: 450px;
    float: right;
    margin: -225px 80px 0 0;
    font-size: 18px;
}

.cart input {
    width: 100px;
    margin-left: 400px;
    margin-bottom: 500px;
}

/*Contact.aspx*/

input, textarea {
    max-width: 100%;
    padding: 0 8px 0 8px;
    border-radius: 2px;
    border: 1px solid #000000;
    background: #FFFFFF;
    font-size: 15px;
}

textarea {
    width: 365px;
    height: 120px;
    max-width: 365px;
    max-height: 120px;
}

.submit input{
    width:100px;
}

#footer {
    font-size:18px;
    clear: both;
    width: auto;
    height: 40px;
    margin-top: 40px;
    background-image: url('../Image/img1.jpg');
}